@use '../utilities/' as *;

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-text;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

@each $btn-key, $btn-value in $btn-map {
    .#{$btn-key}{
        background-color: $btn-value;
        &:hover{
            background-color: lighten($btn-value, 15%);
            transition: 0.3s ease-in;
        }
    }
}
// .default {
//     background-color: $btn-default;
// }

// .error {
//     background-color: $btn-error;
// }

// .info {
//     background-color: $btn-info;
// }

// .success {
//     background-color: $btn-success;
// }

// .warning {
//     background-color: $btn-warning;
// }